<div class="container">
  <div class="row">
    <div class="col">
      <p>Bạn đã đăng ký khóa học này!</p>
      <button>Học ngay</button>
      <div>

      </div>
    </div>
    <div class="col-9">
      <div>
        <h1>aaaaaaaaa</h1>
      </div>
      <div class="h_iframe">
        <iframe
          {{! width="560"
          height="315" }}
          src="https://www.youtube.com/embed/CcSuYLjKW3g?si=b9RJFAGDP58MemlO"
          {{! title="YouTube video player" }}
          frameborder="0"
          {{! allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" }}
          {{! referrerpolicy="strict-origin-when-cross-origin" }}
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>